# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user
ipch/

# Build output
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog/

# CMake
build/
out/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
